.photonav div,.photonav img {
	border: 0 none !important;
	padding: 0 !important;
}

.photonav>.container {
	position: relative;
	overflow: hidden;
	display: none;
	margin: 0;
}

.photonav>.container>.label {
    background: url("moveme.png") no-repeat scroll right top transparent;
    width: 119px;
    height: 44px;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 100;
}

.photonav>.container>.content,.photonav>.container>.dragconstraint>.content {
	position: absolute;
	background-position: top left;
	background-repeat: repeat-x;
	margin: 0;
}

/* Override theme settings for img elements using 3 classes and 1 id for precedence */
.photonav>.container>.content>#photonav-image,.photonav>.container>.dragconstraint>.content>#photonav-image {
	box-shadow: none;
	max-height: none;
	max-width: none;
	height: auto;
	width: auto;
	margin: 0;
}