.photonav .container {
	clear: both;
	overflow: hidden;
	border: 1px solid gray;
	margin: 10px;
}

.photonav .container .photo {
	overflow: visible;
	background-position: top left;
	float: left;
	margin-left: 0px;
}

.photonav .container .photo img {
	display: block;
	border: 0px;
}

.photonav .container .photo a {
	display: block;
}
