.photonav > .container {
    overflow: hidden;
    display: none;
}

.photonav > .container > .content {
    position: relative;
    background-position: top left;
    background-repeat: repeat-x;
}

/* Override theme settings for img elements using 3 classes and 1 id for precedence */
.photonav > .container > .content > #photonav-image {
    margin: 0;
    border: 0 none;
    max-height: none;
    max-width: none;
    height: auto;
    width: auto;
}
