.photonav div, .photonav img {
	border: 0 none !important;
	padding: 0 !important;
}

.photonav > .container {
    overflow: hidden;
    display: none;
    margin: 0;
}

.photonav > .container > .dragconstraint {
	position: relative;
    margin: 0;
}

.photonav > .container > .content,
.photonav > .container > .dragconstraint > .content {
    position: relative;
    background-position: top left;
    background-repeat: repeat-x;
    margin: 0;
}

/* Override theme settings for img elements using 3 classes and 1 id for precedence */
.photonav > .container > .content > #photonav-image,
.photonav > .container > .dragconstraint > .content > #photonav-image {
    max-height: none;
    max-width: none;
    height: auto;
    width: auto;
    margin: 0;
}
